{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/rule.css' %}">
<body>

    <div class="rules-page">
        <div class="rules-header">
            <h1 class="rules-title">Game Rules & Guidelines</h1>
            <p class="rules-subtitle">To ensure a fair and enjoyable experience for all players, please review and follow our community rules and guidelines</p>
        </div>
        
        <div class="rules-hero">
            <!-- Image with working source -->
            <img src="{% static 'img/rule.jpg' %}" alt="Game Rules">
          </div> 

         <div class="rules">
            <a href="{% url 'home:shea_home' %}" class="rule-section:hover">Back to Home</a>
            </div>
</body>
{% endblock %}